- @posts.each do |post|
	= link_to (image_tag post.image.url(:small))
	%h1= link_to post.title, post
	%p
		= post.comments.count
		Comment
	%p
		= post.get_likes.size
		Likes

= link_to "New", new_post_path